@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover,
button:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

button:disabled {
  opacity: 0.6;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
}

@layer base {
  :root {
    --color-input-range-primary: #83325a;
    --color-input-range-secondary: #e1e3e6;
    --color-input-range-third: white;
  }

  .dark {
    --color-input-range-primary: #8e3f66;
    --color-input-range-secondary: #555555;
    --color-input-range-third: #dadbdc;
  }

  .paragraph {
    @apply dark:text-white-100 xs:mt-4 mt-2 indent-8 text-base font-normal tracking-tightest text-black;
  }
}
